<h2> <%= @event.name%> </h2>

<ul>
  <% @event.groups.each do |g| %>
   <li><%= g.name %></li>
  <% end %>
</ul>

  <!-- collection checkbox,把每個groups的名字印出來 -->

  <p>
    <%= @event.category.name %>
  </p>

  <p>
    <%= @attendee.name %>
  </p>

<%= link_to "BACK To List", event_attendees_path(@event) %>