
  <% if @event.errors.any? %>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

        <% end %>
      </ul>
<% end %>
                <!-- 如果有錯誤訊息，一次列出 -->

<div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, :class => "form-control"   %>
</div>

<div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :class => "form-control" %>
</div>